.backroundblue{
    background-color: rgb(224, 220, 219);
}

.bgpink{
    background-color: rgb(248, 233, 229);
}
.custom-font {
    font-family: "Proza Libre", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(39, 112, 112);
}
.family{
    font-family: "Proza Libre", sans-serif;
}
.bcolor{
    
    border: 2px solid #b47a51;
}
.headercolor{
    background-color: #FFDEAD;
}
.ff{
    font-size: larger;
}
.container{
    height: 500px;
}